<h1 class="breadcrumb mt-4">Adicionar Nova Oferta</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">
    {{ oferta.id ? "Edição" : "Cadastro" }}
  </li>
</ol>

<div class="container addOferta">
  <form (ngSubmit)="salvar()" [formGroup]="ofertaForm">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>De: </mat-label>
          <input
            matInput
            required
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="oferta.de"
          />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Para: </mat-label>
          <input
            matInput
            required
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="oferta.para"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Valor Inicial: </mat-label>
          <input
            matInput
            required
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="oferta.valor_inicial"
          />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Montate: </mat-label>
          <input
            matInput
            required
            type="text"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="oferta.montante"
          />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Quantidade Montate: </mat-label>
          <input
            matInput
            required
            type="text"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="oferta.tipo_montante"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button
          type="submit"
          class="btn btn-primary"
          *ngIf="!oferta.id"
        >
          <i class="fa fa-save"></i> Salvar
        </button>
        <button type="submit" class="btn btn-primary" *ngIf="oferta.id">
          <i class="fa fa-sync-alt"></i> Atualizar
        </button>
        <button type="button" class="btn btn-danger" routerLink="/oferta-lista">
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
      </div>
    </div>
  </form>
</div>
