<div id="layoutSidenav_nav">
    <nav
      [style]="getColorSidenav()"
      class="sb-sidenav accordion sb-sidenav-dark"
      id="sidenavAccordion"
    >
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Painel do Cliente</div>
          <a class="nav-link" routerLink="/empresa-lista"
            ><div class="sb-nav-link-icon">
              <i class="fas fa-handshake"></i>
            </div>
            Empresas</a
          >
          <a class="nav-link" routerLink="/cliente-lista"
            ><div class="sb-nav-link-icon">
              <i class="fas fa-user-plus"></i>
            </div>
            Cliente</a
          >
          <a class="nav-link" routerLink="/oferta-lista"
            ><div class="sb-nav-link-icon">
              <i class="fas fa-money-check-alt"></i>
            </div>
            Ofertas</a
          >

          <a class="nav-link" routerLink="/lances-lista"
            ><div class="sb-nav-link-icon">
              <i class="fas fa-money-check-alt"></i>
            </div>
            Lances</a
          >
          <div class="sb-sidenav-menu-heading">Logout</div>
  
          <button
            class="nav-link collapsed logout"
            (click)="logout()"
            data-toggle="collapse"
            data-target="#collapseLayouts"
            aria-expanded="false"
            aria-controls="collapseLayouts"
            ><div class="sb-nav-link-icon">
              <i class="fas fa-sign-out-alt"></i>
            </div>
            Sair
          </button>
        </div>
      </div>
    </nav>
  </div>
  